# Blacklist all files in data
**/data/*

# Whitelist .keep to keep the directory when cloning
!**/data/.keep

# LaTeX
**/out/
**/build/
*.aux
*.fls
*.log
*.pdf
*.synctex.gz
*.toc
*.fdb_latexmk
*.out
*.snm
*.nav


